<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Crear Reserva</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <form action="/crearReserva" method="POST">
    <h2>Crear Reserva</h2>
    <progress value="20" max="100"></progress>
    <input id="dni" type="number" name="dni" placeholder="Número de DNI"  required />
    <input id="nombres" type="text" name="nombres" placeholder="Nombres" required />
    <input id="apellidos" type="text" name="apellidos" placeholder="Apellidos" required />
    <input type="tel" name="telefono" placeholder="Número telefónico" required />
    <div class="gender flex justify-center items-center gap-[40px] mb-[25px] text-[1.1rem] text-[#00345b] font-semibold">
      <label><input type="radio" name="genero" value="Hombre" /> Hombre</label>
      <label><input type="radio" name="genero" value="Mujer" checked /> Mujer</label>
    </div>
    <button type="submit">Next</button>
  </form>
  <script type="module">
  import {getDataByDNI} from '/getDataByDNI.js';

  const token = "<%= token %>";

  const htmlNombres = document.getElementById("nombres");
  const htmlApellidos = document.getElementById("apellidos");
  const htmlDNI = document.getElementById("dni");

  htmlDNI.addEventListener("input", async (e) => {
    htmlNombres.value = ""
    htmlApellidos.value = ""
    const value = e.target.value;
    if(value.length == 8) {
    const {data, success, errorMessage} = await getDataByDNI(value.toString(), token)
    if(success){
      const {nombres, apellido_paterno, apellido_materno} = data;
      console.log(data)
      htmlNombres.value = nombres
      htmlApellidos.value = `${apellido_paterno} ${apellido_materno}`
    }else{
      window.alert(errorMessage)
    }
    }
  })

  </script>
</body>
</html>
