<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <title>Inicio - Clínica</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <header class="header-mobile">
      <a onclick="location.href='/'">Inicio</a>
      <a onclick="location.href='/login'">Personal</a>
      <button class="btn-login" onclick="location.href='/login'">Iniciar sesión</button>
  </header>

  <main class="main-home">
      <div class="topico_tecsup-div">
          <h1 class="topico_tecsup-tittle">TOPICO TECSUP</h1>
          <p class="topico_tecsup-paragrafh">Lorem ipsum dolor sit amet consectetur. Odio id porta tellus elementum tincidunt elit. Augue vel elit tincidunt integer iaculis sit tortor. Scelerisque non proin gravida ac in enim purus.</p>
      </div>
    <div class="btn-group">
        <button class="btn-third"><item></item>Llamar al +51 942657893</button>
      <button class="btn-primary" onclick="location.href='/especialidades'">Agendar cita</button>
      <button class="btn-secondary" onclick="alert('Llamando a emergencia...')">Cita por emergencia</button>
    </div>
  </main>
  <div class="second_nav_bar">
      <ul>
          <a>
          <img class="text-icon" src="/../icons/user-doctor-solid.svg"/><li>Especialidad</li>
          </a>
          <a>
          <img class="text-icon" src="/../icons/users-solid.svg"/><li>Staff Medico</li>
          </a>
          <a>
          <img class="text-icon" src="/../icons/bell-concierge-solid.svg"/><li>Servicios</li>
          </a>
          <a>
          <img class="text-icon" src="/../icons/book-solid.svg"/><li>Blog</li>
          </a>
      </ul>
  </div>
  <footer>
      <div class="image-container">
      <image src="/images/Ellipse43.png"/>
      <h4>Medicina interna</h4>
      </div>
      <div class="image-container">
      <image src="/images/Ellipse45.png"/>
      <h4>Laparscopia</h4>
      </div>
      <div class="image-container">
      <image src="/images/Ellipse46.png"/>
      <h4>Psicologia</h4>
      </div>
  </footer>
  <div class="footer-button_container">
      <button class="btn-third">VER TODAS LAS ESPECIALIDADES</button>
  </div>
</body>
</html>
